* {
  font-family: sans-serif;
}
.phaseInfo {
  height: 10%;
  font-size: 580%;
  font-size: 8vmin;
  margin-top: 0.4em;
  margin-left: 0.2em;
  display: flex;
  align-items: center;
}
#roundNum {
  color: lawngreen;
  margin-right: 0.2em;
}
#phaseRemainTime {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 65%;
  font-size: 2700%;
  font-size: 40vmin;
  text-align: center;
}
#audioIndicator {
  margin-left: auto;
  font-size: 5vmin;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bottomStats {
  height: 20%;
  color: white;
  margin-left: 0.8em;
}
.ctimeNum {
  font-size: 5vmin;
}
.ctimeUnit {
  font-size: 1.5vmin;
  margin-left: 0.25em;
}
.ctimeLabel {
  font-size: 3vmin;
  margin-right: 0.25em;
}
.ctimeLabelVar {
  font-size: 3vmin;
  margin-right: 0em;
}
#devinfo {
  height: 3%;
  margin-left: 0.5em;
  color: blue;
  text-align: left;
}
