* {
  font-family: sans-serif;
}
input {
  margin-right: 0.1em;
  text-align: center;
}
h2 {
  color: #444444;
}
.admin-menu {
  box-sizing: border-box;
  border: solid #ee4333 10px;
  background-color: orange;
  font-size: 1em;
  margin-top: 0.4em;
  margin-left: 0.2em;
  align-items: left;
}
.server-control {
  box-sizing: border-box;
  border: solid #222288 3px;
  display: flex;
  align-items: right;
  margin: 0.2em;
  padding: 6px;
  color: #444444;
}
.dataInput {
  margin: 5px;
}
.controllers {
  display: flex;
}
.server-echo {
  color: lawngreen;
  background-color: black;
  margin-left: 0.4em;
  min-height: max-content;
}
.server-responce {
  color: white;
}
